<% if logged_in? %>
  <script type="text/javascript">
  window.currentUser = <%=
    render(
      "api/users/user.json.jbuilder", user: current_user
    ).html_safe %>
  </script>
<% end %> 
<!-- bootstrap -->

<main id="root">
  
</main>