.browse-header-container {
  z-index: 3;
  padding: 8px 30px 0px 35px;
  // need to remove this background color, only here for profiles modal testing purposes
  background-color: #141414;

  .browse-header-inner {
    display: flex;
    justify-content: space-between;


    button {
      font-size: 14px;
      font-weight: bold;
      color: white;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    button:hover {
      text-decoration: underline;
    }
  }
}