.genres-index {

  color: white;


  .genre {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px;
      margin: 10px 0 10px;
    }

    ul {
      display: flex;
      margin: 0 0 20px 0;

      li {
        margin: 0 5px 0 0;

        .genre-index-item-container {
          font-size: 12px;
          font-weight: bold;
          border: 1px solid white;
          border-radius: 4px;
          width: 215px;
          height: 121px;
          display: flex;
          justify-content: center;
          align-items: center;

        }
      }
    }
  }
}