

.login-container {
  background-image: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ), url('https://assets.nflxext.com/ffe/siteui/vlv3/5c235903-02cc-4228-85a2-5fcef1e47627/ca14817e-a9cb-460a-8865-f53dc27950e4/US-en-20211227-popsignuptwoweeks-perspective_alpha_website_small.jpg');

        footer {
          background-color: rgba(0, 0, 0, 0.5);
        }
}

.login-body {
  display: flex;
  flex-direction: column;
  height: 660px;
  max-width: 450px;
  min-height: 100vh;
  margin: 0 auto -236px;
  background-color: transparent;

  .login-form {
    background-color: rgba(0,0,0,.75);
    color: #333;
    min-height: 660px;
    padding: 60px 68px 40px;

    h2 {
      color: #fff;
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 28px;

    }

  }

  .login-inputs-div {
    display: flex;
    flex-direction: column;

    .login-input-div {
      position: relative;
      padding-bottom: 16px;

      input {
      width: 87%;
      max-width: 100%;
      background: #333;
      border-radius: 4px;
      border: 0;
      color: #fff;
      height: 30px;
      line-height: 50px;
      padding: 16px 20px 0;
      z-index: 1;
      font-size: 16px;
      }

      label {
      position: absolute;
      top: 30%;
      left: 5%;
      font-size: 16px;
      color: #8c8c8c;
      z-index: 2;

      transition: font .1s ease,top .1s ease,transform .1s ease,-webkit-transform .1s ease,-moz-transform .1s ease,-o-transform .1s ease;
      }
      

      

    
    }
    button {
      border-radius: 4px;
      font-size: 16px;
      font-weight: 700;
      margin: 24px 0 12px;
      width: 100%;
      min-width: 98px;
      min-height: 37px;
      max-width: 100%;
      padding: 16px;
      background: #e50914;
      color: #fff;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 55%);
      border: 0;
      cursor: pointer;
    }
  }

  .new-to-netflix {
    display: flex;
    flex-direction: row;

    p {
      width: fit-content;
    }

    a {
      width: fit-content;
    }
  }

}

