.signup-header-container {
  padding: 15px 0 0 0;
  border-bottom: 0.1px solid #d1d1d1;

  .signup-header-inner {
    margin: 0 56px 0 46px;
    padding: 0px 0 8px;
    display: flex;
    justify-content: space-between;

    .root-logo {
      cursor: pointer;
    }

    .signup-login-link {
      background-color: #fff;
      color: black;
      padding: 16px 17px 7px 17px;
      font-size: 18px;
      font-weight: bold;
      line-height: normal;
      border: none;
      float: none;
      margin-top: 0;
      white-space: nowrap;
      text-decoration: none;
      height: fit-content;
      cursor: pointer;
    }
  }
}

.signup-body {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  margin: 0 auto 60px;
  background-color: transparent;

  .signup-form {
    min-height: 450px;
    padding: 60px 0px 40px;

    h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 16px;
      line-height: 40px;
    }

    h3 {
      font-size: 1.15rem;
      font-weight: lighter;
      margin-bottom: 12px;
    }
  }
}

.signup-inputs {
  display: flex;
  flex-direction: column;

  div {
    input {
    width: 100%;
    padding: 19px 8px;
    font-size: 16px;
    color: #8c8c8c;
    font-weight: lighter;
    margin-bottom: 10px;
    border: solid 1px #8c8c8c;
    border-radius: 3px;
    }

    input.input-error {
      border: solid 1px #b92d2b;
      margin-bottom: 0px;
    }

    p {
      color: #b92d2b;
      font-size: 12px;
      letter-spacing: 1px;
      margin: 2px 0 8px 1px;
    }
  }

  button {
    width: 105%;
    padding: 19px 8px;
    margin-top: 12px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    background-color: #e50914;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

.signup-container {
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 40px 75px 10px;
    border-top: 1px solid #d1d1d1;
    background-color: #f3f3f3;
  }
}