.signup-header-container {
  padding: 15px 0 0 0;

  .signup-header-inner {
    margin: 0 56px 0 46px;
    padding: 8px 0 0;
    display: flex;
    justify-content: space-between;

    .signup-login-link {
      background-color: #fff;
      color: black;
      padding: 9px 17px 7px 17px;
      font-size: 1rem;
      font-weight: 200;
      line-height: normal;
      border: none;
      float: none;
      margin-top: 0;
      white-space: nowrap;
      text-decoration: none;
      height: fit-content;
      cursor: pointer;
    }
  }
}
