.splash-background {
  background-color: #333;
}
 
.splash-container {
  background-color: black;
  color: white;
}

.main-splash-container {
  // .splash-background {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 0;
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   overflow: hidden;
  // }

  .header-tagline-container {
    z-index: 1;
    background-image: radial-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.75)
        ), image-url('splash_background_medium.jpg');
    background-size: 1440px 706px;
  }
}

.login-header-container {
  padding: 15px 0 0 0;

  .login-header-inner {
    margin: 0 56px 0 46px;
    padding: 8px 0 0;
    display: flex;
    justify-content: space-between;

    .splash-login-link {
      background-color: #e50914;
      color: #fff;
      padding: 9px 17px 7px 17px;
      font-size: 1rem;
      font-weight: 200;
      line-height: normal;
      border-radius: 3px;
      float: none;
      margin-top: 0;
      white-space: nowrap;
      text-decoration: none;
      height: fit-content;
      cursor: pointer;
    }
  }
}

.tagline-signup {
  z-index: 1;

  h2 {
    max-width: 600px;
    font-size: 3.125rem;
    font-weight: bold;
    transform: scaleY(0.9);
    text-align: center;
    margin: 0 auto;
    padding: 75px 0 0 0;

  }

  h3 {
    font-size:  1.625rem;
    font-weight: lighter;
    text-align: center;
    margin: 16px 75px;

  }

  .splash-email-form {
    padding: 13.7px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h4 {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto;
    padding: 0 47.5px 20px;
    font-weight: lighter;
  }
}

.tagline-signup {
  border-bottom: 8px solid #222;
  padding: 75px 0 65px;
  margin: 0 auto;

  .signup-email-div {
    margin: 0 auto;
    width: 682px;
    max-width: 682px;
  
    div {
      display: flex;
      justify-content: center;
      width: fit-content;

      input {
        max-width: 500px;
        min-width: 450px;
        height: 60px!important;
        padding-left: 6px;
        padding-right: -6px;
        padding-top: 3px;
        padding-bottom: -3px;
        font-size: 16px;
        
      }

      input:focus {
        outline: none;
      }

      input::placeholder {
        font-size: 16px;
        font-weight: lighter;
        color: rgb(158, 157, 157);
      }

      button {
      background-color: #e50914;
      color: #fff;
      padding: 16px 20px 17px 20px;
      font-size: 1.625rem;
      font-weight: lighter;
      line-height: normal;
      letter-spacing: 1px;
      border-style: none;
      border-radius: 3px;
      float: none;
      margin: 1px 0 0 0;
      white-space: nowrap;
      text-decoration: none;
      height: fit-content;
      cursor: pointer;

      img {
        margin-bottom: -8px;
        margin-left: -2px;
        margin-right: -10px;
        filter: brightness(0) invert(1);
      }
    }
    }

  }

  .demo_user_button {
    background-color: #e50914;
      color: #fff;
      padding: 16px 20px 17px 20px;
      font-size: 1.625rem;
      font-weight: lighter;
      line-height: normal;
      letter-spacing: 1px;
      border-style: none;
      border-radius: 3px;
      float: none;
      margin: 20px auto;
      white-space: nowrap;
      text-decoration: none;
      height: fit-content;
      cursor: pointer;
  }

}

.webflix-story {
  h2 {
    text-align: left;
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #fff;
  }

  h3 {
    text-align: left;
    font-size: 1.625rem;
    font-weight: 400;
    margin: 0.75em 0 0.25em;
  }
}

.watch-on-tv {
  border-bottom: 8px solid #222;
  padding: 75px 45px;
  
  .watch-on-tv-inner {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;

    div {
    width: 52%;
    height: 100%;
    padding: 0 3rem 0 0;
    margin-top: 12%;
    }
  }
}

.download-and-watch {
  border-bottom: 8px solid #222;
  padding: 75px 45px;

  .download-and-watch-inner {
    display: flex;
    flex-direction: row;    
    max-width: 1100px;
    margin: 0 auto;

    div {
    width: 52%;
    height: 100%;
    padding: 0 3rem 0 0;
    margin-top: 8%;
    }

  }
  
}

.watch-everywhere {
  border-bottom: 8px solid #222;
  padding: 75px 45px;
  
  .watch-everywhere-inner {
    display: flex;
    flex-direction: row;    
    max-width: 1100px;
    margin: 0 auto;

    div {
    width: 52%;
    height: 100%;
    padding: 0 3rem 0 0;
    margin-top: 12%;
    }
  }
}

.create-profiles {
  border-bottom: 8px solid #222;
  padding: 75px 45px;

  .create-profiles-inner {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;

    div {
    width: 52%;
    height: 100%;
    padding: 0 3rem 0 0;
    margin-top: 6%;
    }
  }
}

footer {
  margin: 0 175px;
  padding: 70px 45px 20px;

  .links-wrapper {
    padding: 0 0 20px;

    p {
      margin: 0 0 30px;
      font-size: 1em;
      color: #757575;
    }

    ul {
      max-width: 1000px;
      font-size: 13px;
      display: flex;

      li {
        margin: 0 0 16px;
        padding: 0 12px 0 0;
        width: 15%;
      }
      li > a {
        text-decoration: none;
        color: #757575;
      }
    }
  }
}